@import "@styles/constants.scss";

.Wrapper {
  width: 480px;
  height: 620px;
  margin: 120px auto;
  padding: 55px 60px;
  border-radius: 15px;
  border: solid 1px #e0e0e0;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .subTitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #a8b1ce;
  }
  .infoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 0.7;
      color: #1b262c;
    }
  }
  input {
    width: 380px;
    height: 50px;
    padding: 15px 0px 15px 13px;
    border-radius: 5px;
    border: solid 1px #e9e9e9;
    &:last-child {
      margin-top: 7px;
    }
  }
  .button {
    width: 380px;
    height: 50px;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #e9e9e9;
    background-color: #657c9b;
    color: $C_White;
    transition: all ease 0.7s;
    cursor: pointer;
    &:hover {
      background-color: #156bce;
      color: $C_White;
    }
  }
}
