@import "@styles/constants.scss";

$IMG_PATH: $STATIC_IMG_PATH + "/detailPage/apartInfo";

.info__wrapper {
  display: flex;
  flex-direction: column;
  .info__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-right: 10%;
    .top__left {
      display: flex;
      flex-direction: column;
      width: 210px;
      height: 91px;
      .houseType {
        height: 26px;
        font-size: 18px;
        color: $C_Blue10;
      }
      .houseName {
        height: 36px;
        font-size: $FS_Ml;
        color: $C_Black;
      }
      .address {
        height: 23px;
        font-size: $FS_Ms;
        font-weight: $Fw_SS;
        color: $C_Gray45;
      }
    }
    .top__middle {
      display: flex;
      width: 650px;
      justify-content: space-between;

      .middle__content {
        display: flex;
        flex-direction: column;
        width: 137px;
        text-align: center;
        line-height: 27px;

        .content__name {
          font-size: $FS_Sm;
          font-weight: $Fw_SS;
          color: $C_Gray55;
        }
        .content__value {
          font-size: $FS_Ms;
          font-weight: $Fw_Sm;
        }
      }
    }
    .top__right {
      display: flex;

      .button {
        width: 120px;
        height: 43px;
        border: solid 1px #d3d3d3;
        font-size: $FS_Ms;
        color: $C_White;
        background-color: rgb(164, 159, 159);
        transition: 0.5s;
        border-radius: 3%;
        &:hover {
          background-color: rgb(28, 23, 23);
        }
      }
    }
  }
  .info__middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-top: solid 1px #d7d7d7;
    .middle__content {
      width: 154px;
      height: 23px;
      .content__name {
        width: 66px;
        height: 20px;
        margin-right: 20px;
        font-size: $FS_Sm;
        font-weight: $Fw_SS;
        color: $C_Gray55;
      }
      .content__value {
        width: 48px;
        height: 23px;
        font-size: $FS_Ms;
        font-weight: bold;
        font-family: NotoSansKR;
      }
    }
  }
  .info__bottom {
    display: flex;
    // justify-content: space-between;

    .apartInfo1 {
      width: 618px;
      height: 492px;
      background-image: url($IMG_PATH + "/apartInfo1.png");
      background-size: cover;
    }
    .bottom__right {
      display: flex;
      flex-direction: column;
      .section__top {
        .apartInfo2 {
          width: 246px;
          height: 246px;
          background-image: url($IMG_PATH + "/apartInfo2.png");
          background-size: cover;
        }
        .apartInfo3 {
          width: 246px;
          height: 246px;
          background-image: url($IMG_PATH + "/apartInfo3.png");
          background-size: cover;
        }
      }
      .section__bottom {
        display: flex;
        .apartInfo4 {
          width: 246px;
          height: 246px;
          background-image: url($IMG_PATH + "/apartInfo4.png");
          background-size: cover;
        }
        .apartInfo4_right {
          position: relative;
          display: flex;
          width: 246px;
          height: 246px;
          background-image: url($IMG_PATH + "/apartInfo4.png");
          background-size: cover;
        }
      }
    }
  }
}
