@import '@styles/constants.scss';

$CONVENTION_PATH: $STATIC_IMG_PATH + '/menuIcon/convention';
$SAFETY_PATH: $STATIC_IMG_PATH + '/menuIcon/safety';
$STUDY_PATH: $STATIC_IMG_PATH + '/menuIcon/study';

.mapWrapper {
  //   width: 850px;
  .subway {
    width: 25px;
    height: 35px;
    background-image: url($CONVENTION_PATH + '/subway.png');
    background-size: contain;
    content: '';
  }
  .mart {
    width: 25px;
    height: 35px;
    background-image: url($CONVENTION_PATH + '/mart.png');
    background-size: contain;
    content: '';
  }
  .convenience {
    width: 25px;
    height: 35px;
    background-image: url($CONVENTION_PATH + '/convenienceStore.png');
    background-size: contain;
    content: '';
  }
  .bank {
    width: 25px;
    height: 35px;
    background-image: url($CONVENTION_PATH + '/bank.png');
    background-size: contain;
    content: '';
  }
}
