@import '@styles/constants.scss';

.topWrapper {
  width: 1180px;
  margin: 0 auto;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: rgb(147, 147, 147);
}
.content {
  text-align: center;
  padding: 180px 0px 200px;
  font-size: 15px;
  font-weight: 500;
}
