@import '@styles/constants.scss';

.wrapper {
  position: absolute;
  height: 91vh;
  background-color: white;
  top: 63px;
  z-index: 20;
  color: $C_Black;
  overflow-y: scroll;
  overflow-x: hidden;
  .items {
    height: 31px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #eaeaea;
    background-color: #fff;
  }
  .recom {
    height: 20px;
    padding: 5px 8px;
    margin-bottom: 10px;
    flex-grow: 0;
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    color: #000;
  }

  .list_wrapper {
    // margin: 10px;
    padding: 5px;
    margin-right: 3px;
    width: 100%;
    cursor: pointer;
  }
  .noItem {
    font-size: 15px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
  }
  .house {
    display: flex;
    height: 170px;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
  }
  .houseImg {
    width: 200px;
    background-image: url($STATIC_IMG_PATH + '/img1.jpeg');
    background-size: cover;
    border-radius: 3px;
  }
  .content_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .houseType {
      width: 75px;
      height: 16px;
      margin-bottom: 5px;
      flex-grow: 0;
      font-family: NotoSansKR;
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.09px;
      text-align: left;
      color: #32415e;
    }
    .houseName {
      width: 124px;
      height: 26px;
      margin-bottom: 5px;
      flex-grow: 0;
      font-family: NotoSansKR;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.09px;
      text-align: left;
      color: #000;
    }
    .price {
      width: 109px;
      height: 19px;
      margin-bottom: 5px;
      flex-grow: 0;
      font-family: NotoSansKR;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.15px;
      text-align: left;
      color: #0075ff;
    }

    .netLeasableArea {
      height: 19px;
      flex-grow: 0;
      margin-bottom: 5px;
      font-family: NotoSansKR;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.13px;
      text-align: left;
      color: #505050;
    }
  }
}
