@import '@styles/constants.scss';

.bucket_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  font-size: $FS_Mm;
  font-weight: $Fw_Sm;
  background-color: $C_White;
  .item_Wrapper {
    margin-top: 150px;
    .content {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      color: #bcbcbc;
    }
  }
}
